body{
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  line-height: 1.2em;
  color: hsl(229, 6%, 66%);
  background-color: hsl(0, 0%, 98%);
}




@media(min-width:720px) {


.flexbox-1{
  display: flex;
  justify-content: center;
  align-items: center;

}

.flexbox-2{
  display: flex;
  flex-direction: column;


}

.flexbox-1 div,
.flexbox-2 div{
  margin: 10px;


}

.text-container{
  display: flex;
  justify-content: center;
  padding: 20px;
  flex-basis: 50%;

}
}


@media(max-width:720px) {
  .flexbox-1 div,
  .flexbox-2 div{
    margin:auto;
    margin-top: 10px;
  }

  h1.h1-Light{
    font-weight: 200;
    font-size: 1.3rem;
    color: hsl(234, 12%, 34%);
    line-height: 2rem;
      text-align: center;
  }

  h1.h1-bolder{
    font-size: 1.5rem;
    font-weight: 400;
    color: hsl(234, 12%, 34%);
    line-height: 2rem;
      text-align: center;
  }


}



/******* Custom Styles *******************/





h1.h1-Light{
  font-weight: 400;
  font-size: 2.3rem;
  color: hsl(234, 12%, 34%);
  text-align: center;
}

h1.h1-bolder{
  font-size: 2.5rem;
  font-weight: 600;
  color: hsl(234, 12%, 34%);
  text-align: center;
}

h2{
  color: hsl(234, 12%, 34%);

}



main{
  padding: 0 15%;
  font-size: 1.3rem;
  text-align: center;
}




div.box{
  width:390px;
  height: 250px;
  background-color: hsl(0, 0%, 98%);

  -webkit-box-shadow: 14px 21px 32px -4px rgba(154,154,156,0.42);
  -moz-box-shadow: 14px 21px 32px -4px rgba(154,154,156,0.42);
  box-shadow: 14px 21px 32px -4px rgba(154,154,156,0.42);
  border-top: solid;
  border-width: 8px;
  border-radius: 8px;
  padding-bottom: 20px;




}




div.supervisor{
  border-color: hsl(180, 62%, 55%);


}

div.team-builder{
  border-color: hsl(0, 78%, 62%);

}

div.karma{
  border-color: hsl(34, 97%, 64%);

}

div.calculator{
  border-color: hsl(212, 86%, 64%);


}

h2,
p{
  padding:8px 130px 8px 15px;
}

img{
  padding: 35px 5px 15px 280px;

}






/*********** Media Qrey **********************/
